.col-md-5 img{width: 100%;}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }



  @media only screen and (min-width: 990px) {
    .logo {
      display: none;
    }
  }

  .featurette-image {
    height: auto;
    width: 65.25%; /* Set this value to match the aspect ratio of your image */
    max-width: 100%;
  }

  .col-md-5 {
    display: flex;
    align-items: center;
  }

  @media (max-width: 575px) {
    body {
      border: 8px solid white; /* Change the color and width values to your desired values */
    }
  }

  @media (max-width: 770px) {
    .featurette-image {
      max-width: 50%;
  height: auto;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 15px
    }
    .navbar-expand-lg .navbar-light .fixed-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    }
  }
  @media (max-width: 600px) {
    .navbar-expand-lg .navbar-light .fixed-top {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    
    .logo img {
      margin-right: 10px;
    }
  }

  @media (max-width: 630px) {
    .logo {
      display: none;
    }
  }

  body {
    text-align: justify;
   
  }

  .staff {
    max-width: 35%;
    height: auto;
    text-align: center;
    vertical-align: middle;
    
  
   
  }

  .main {
    max-width: 900px;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    .row.placeholders {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .col-xs-6.col-sm-3.placeholder {
      width: 50%;
      margin-bottom: 20px;
    } 
    
    .title {
      font-size: 20px;
    }
  }
  

  @media (max-width: 575px) {
  body {
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    }}
  /* For screens larger than 768px (i.e. desktops and larger screens) */
  @media (min-width: 768px) {
    .row.placeholders {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .col-xs-6.col-sm-3.placeholder {
      width: 30%;
    }
  }

  @media (min-width: 770px) {
  .col-sm-6 {
    width: 50%;
    float: left;
  }
  .clearfix.visible-sm {
    display: none;
  }
}