{% extends "base.html" %}
{% block content %}
    


<h2>{{page_title}}</h2>
    <p>
        HOT is a Charitable Incorporated Organisation whose mission is to change lives and transform the opportunities
        available for young people that have extraordinary talent and potential. Our students are young people who have
        been denied advantage and opportunity but have risen to life’s challenges in a unique and inspiring way.

        We are offering students fully funded bursary places at some of the finest schools in the UK. These bursaries
        are funded by the Royal National Springboard Children’s Foundation and direct funding from the receiving/host
        schools. Since 2013 we have realised over £10M of bursary place investment for over 100 students with minimal
        operating costs.

        Our aims are clear and practicable, but their impacts can be incalculable. Our outputs are transformed lives:
        nurturing young citizens who will not only reach their potential but who are passionate about giving back to
        their communities and wider society.

        We are quietly effective and seek no wider publicity other than ensuring that the students, their families,
        schools, and our donors are kept up to date and included in our impact assessment and the continual development
        of our operating model.

    </p>

    <div class="row featurete">
        <div class="col-md-7">
            <h3>How we work</h3>
            <p>
                HOT works through close collaborative partnerships that include Royal National Springboard Foundation,
                state schools, boarding schools, students and their families.

                The bursary students are identified in the five HOT Member schools by their teachers and Heads according
                to strict and consistent criteria of income, challenging family circumstances and the potential benefit
                to that student of a fully funded boarding experience.

                We are the only charity in the country to work with state schools in this way, and all our partner
                schools provide testimony to the positive impact of their collaboration with HOT. Due to the impressive
                resilience of the students and consistent, personalised support from the HOT team, only two have
                withdrawn from a place since 2013. The profile of our students demonstrates our commitment to equality,
                equity, and access to the bursary programme irrespective of gender and race.

                Our five State school partners are: Blacon High School, Chester; Hawthorne Free School, Bootle; Holly
                Lodge Girls School, Liverpool; Hope Academy, Newton-le-Willows; King’s Leadership Academy, Liverpool

                We are currently working with more than forty of the UK's leading boarding schools; from Glenalmond to
                Eton and Cheltenham Ladies College and we ensure that each student is matched to the profile of each
                public school.

                At any point in time, we have up to eighty students receiving support; over twenty preparing for the
                bursary opportunity, up to forty in their respective boarding schools, and
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://americanlibrariesmagazine.org/wp-content/uploads/2021/10/editions-main.jpg" alt="" class="featurette-image image-responsive">
        </div>
            
        <div class="row featurette">
            <div class="col-md-5">
                <img src="https://www.searchenginejournal.com/wp-content/uploads/2018/03/seo-challenges-606d8bc209177-1280x720.png" alt="" class="featurette-image image-responsive"
                >
            </div>

            <hr class="featurette-divider">

            <div class="col-md-7">
                <h3>The challenge</h3>
                <p>
                    The challenge we now face is that our member state schools make a generous donation each year, but
                    in the current economy, the calls on their finances are such that we can no longer accept donations
                    and be ethically comfortable with that. We maintain that there should always be a contribution but
                    not at current levels.

                    We have a small reserve and could continue to see through the current student cohorts but ultimately
                    close the charity if we cannot find financial support to reduce the contributions from state
                    schools.

                </p>
            </div>

        </div>

    </div>
{% endblock %}
