{% extends "base.html" %}
{% block content %}
    <h1>Who we are</h1>
    <div class="row featurete">
        <div class="col-md-7">
            
            <p>
                HOT is a Charitable Incorporated Organisation whose mission is to change lives and transform the opportunities
                available for young people that have extraordinary talent and potential. Our students are young people who have
                been denied advantage and opportunity but have risen to life’s challenges in a unique and inspiring way.<br><br>
        
                We are offering students fully funded bursary places at some of the finest schools in the UK. These bursaries
                are funded by the Royal National Springboard Children’s Foundation and direct funding from the receiving/host
                schools. Since 2013 we have realised over £10M of bursary place investment for over 100 students with minimal
                operating costs.
            </p>
        </div>
        <div class="col-md-5"> <br><br>
            <img src="../static/img/logo3.png" alt="" class="featurette-image image-responsive">
        </div>
            
        <div class="row featurette">
            <div class="col-md-5"><br><br>
                <img src="https://thumbnails.production.thenounproject.com/0rW70rIUcQzGYOG_wkF5WwB4DIg=/fit-in/1000x1000/photos.production.thenounproject.com/photos/ABD4D955-7DD6-4615-97BB-AD05ADD676B4.jpg" alt="" class="featurette-image image-responsive"><br><br>
            </div>

            <hr class="featurette-divider">

            <div class="col-md-7">
                <h3>Our Impact</h3>
                <p>
                    Our aims are clear and practicable, but their impacts can be incalculable. Our outputs are transformed lives:
                    nurturing young citizens who will not only reach their potential but who are passionate about giving back to
                    their communities and wider society.<br><br>
            
                    We are quietly effective and seek no wider publicity other than ensuring that the students, their families,
                    schools, and our donors are kept up to date and included in our impact assessment and the continual development
                    of our operating model.

                </p>
            </div>

        </div>

    </div>
{% endblock %}
