{% extends "base.html" %}
{% block content %}
<h1 class="title">Hope Opportunity Team</h1><br><br>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row placeholders">
  <div class="col-xs-12 col-sm-6 col-md-4 placeholder">
    <img src="../static/img/john1.png" class="img-responsive" alt="Generic placeholder thumbnail" width="200" height="200">
    <h4><br>John Denny</h4>
    <span class="text-muted">CEO<br><br></span>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 placeholder">
    <img src="../static/img/martin1.png" class="img-responsive" alt="Generic placeholder thumbnail" width="200" height="200">
    <h4><br>Martin Carey<br></h4>
    <span class="text-muted">Chair of Trustees<br><br></span>
  </div>
  <div class="clearfix visible-sm"></div>
  <div class="col-xs-12 col-sm-6 col-md-4 placeholder">
    <img src="../static/img/sue1.png" class="img-responsive" alt="Generic placeholder thumbnail" width="200" height="200">
    <h4><br>Sue Yates</h4>
    <span class="text-muted">Company Secretary<br><br></span>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 placeholder">
    <img src="../static/img/suet.png" class="img-responsive" alt="Generic placeholder thumbnail" width="200" height="200">
    <h4><br>Sue Tedford</h4>
    <span class="text-muted">Project Manager<br><br></span>
  </div>
  <div class="clearfix visible-sm"></div>
  <div class="col-xs-12 col-sm-6 col-md-4 placeholder">
    <img src="../static/img/robin1.png" class="img-responsive" alt="Generic placeholder thumbnail" width="200" height="200">
    <h4><br>Robin Oldman</h4>
    <span class="text-muted">Project Manager<br><br></span>
  </div>
</div>



</div>
{% endblock %}



